html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Zurich";
  src: local("ZurichBT-RomanExtended"),
    url("/fonts/ZurichBT-RomanExtended.woff2") format("truetype");
}

@font-face {
  font-family: "Chewy";
  src: local("Chewy-Regular"),
    url("/fonts/Chewy-Regular.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "Gotham Bold";
  src: local("GothamBold"), url("/fonts/GothamBold.ttf") format("truetype");
  /* font-weight: 100; */
}

@font-face {
  font-family: "Gotham Book";
  src: local("GothamBook"), url("/fonts/GothamBook.ttf") format("truetype");
  /* font-weight: 100; */
}

@font-face {
  font-family: "Gotham Light";
  src: local("GothamLight"), url("/fonts/GothamLight.ttf") format("truetype");
  /* font-weight: 100; */
}
